# Dependencies
node_modules/

# Build output
dist/

# Environment variables

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temporary files
tmp/
temp/

# Puppeteer
.local-chromium/
output/
config.bat
